---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;
const path = Astro.url.pathname.replace(/\/$/, "");

---
<!-- DO NOT FORMAT. IT ADDS AN EXTRA SPACE ON RENDERED CONTENT. -->
<a
  href={`${href === "/" ? import.meta.env.BASE_URL : href}`}
  class:list={[
    className,
    "unset animated-link",
  ]}
  {...props}
><slot /></a>
